parameters:
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    - src/adapters
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#Call to static method (createObject|t)\(\) on an unknown class Yii#'
    - "#Casting to string something that's already string#"
    - '#Test::data[a-zA-Z0-9_]+\(\) return type has no value type specified in iterable type#'
  reportUnmatchedIgnoredErrors: false
